.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.user-details, .age-details, .gender-details, .select-country, .button {
    margin-bottom: 15px;
}
.details, .age-details span, .gender-title, .select-country span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
input[type="radio"] {
    margin-right: 10px;
}
.button input[type="submit"] {
    background-color: #394be7;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.button input:hover {
    opacity: 1;
}
a {
    color: dodgerblue;
}
.signin {
    background-color: #fffefe;
    text-align: center;
    max-height: fit-content;
}
